/* format sln-page */
.sln-page{
    margin: auto;
    display: block;
    overflow: hidden;
}
/* sln-header */
#sln-header{
    background-image:url("imgs/banner_top.png"); 
    background-repeat: repeat;
    display: flex; 
    position: relative;
    flex-direction: column;
}

#sln-header .header-top{
   background-color:black;
   display: flex;
   flex-wrap: wrap; 
   padding: 5px 0 5px 0;
}
#sln-header .header-inner{
    position: relative;
    display: flex;
    justify-content: end;
    justify-items: right;
    
    /* margin-right: 10px; */
}
.header-icon{
    color:#00d163;
}
#sln-header .header-inner .header--hotline{
    
    /* margin-right: 15px; */
    font-size: 16px;
    /* text-align: right; */
}
#sln-header .header-inner .header--support{
    /* position: relative; */
    font-size:16px;
    margin-left:20px;
    /* text-align: right; */
}
.header-inner a{
    color:#00d163;
    text-decoration-line: none;
}
.header-inner a:hover{
    color:white;
}
/* end header-top */

/* header-middle */
#sln-header .header-middle-cover .cover-image img{
    padding:30px 0 30px 0;
    width: 100%;
    height: 100%;
}
/* navbar menu */
.menu-list a{
    font-size: 14px;
    font-weight: 600;
}
.menu-list .menu-list-all{
    display: flex;
    /* justify-content: center; */
    align-content: stretch;
}
.menu-list .menu-list-item li{
    display: flex;
    /* align-content: space-between; */
    margin-right: 20px;
}
.menu-list-all .menu-list-item .custom-background{
    background-color: #222;
}
.menu-list-all .custom-background a{
    color:white !important;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.menu-list-all .custom-background a:hover{
    color:black !important;
    
}
.menu-list-all .custom-background li{
    width: 100%;
    
}
/* sln-content */
#sln-content{
    background: url("imgs/bg_content.png") repeat;
    display: block;
    margin-bottom: 25px;
}
#myCarousel .carousel-inner .slider-image{
    width: 100%;
}
#sln-content .service-content{
    padding: 15px;
}
#sln-footer{
    margin-top:20px;
    background-color: #008f44;
}
#sln-footer .infor{
    color:white;
    margin-top:25px;
    padding: 25px 0;
}
#sln-footer .infor .infor-copyright a{
    color:white;
    font-weight: 600;
    text-decoration-line: none;
}
#sln-footer .info .infor-copyright p{
    margin-top:100px;
}
#sln-footer .fanpage-like .fb-like{
    margin: 50px;
}
/* gioithieu -html */
/* sln content */
#sln-content .container{
    padding:0px;
    background: #ffffff;
}
.shadow{
    background: url("imgs/shadow-top.png") repeat;
    display: block;
    height: 25px;
    width: 100%;
}
.wrap-content{
    display: block;
}
.menu-list{
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
    /* position: relative; */
    /* width: auto; */
}

.menu-list .icon-ar{
    background: url("imgs/icon_header.png") no-repeat;
    width: 10%;
    height:34px;
    /* margin-right:5px; */
}
.menu-list .list-header-title{
    display: flex;
    /* width: auto; */
}
.menu-list-header{
    margin-left:10px;
    margin-right:10px;
}
.menu-list p{
    /* display: flex; */
    font-size: 18px;
    font-weight: 500;
    padding:0 10px;
    line-height: 34px;
    height: 34px;
    /* margin-top:5px; */
    color: white;
    /* width: 100%; */
}

.menu-list  .txtHeader{
    /* display: inline-block; */
    background: #079f4f;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 34px;
    /* width: 100%; */
}
.menu-list .list-header-title .txtHeader{
    width: 100%;
}

.menu-list .list-content ul{
    display: block;
    list-style-type: none;
    width: auto;
    margin: 0 0 0 11px;
    padding: 0;
}
.menu-list .list-content li{
    background: url("imgs/icon_arow.png") no-repeat scroll 0 12px transparent;
    height: 34px;
    line-height: 34px;
    padding-left:15px;
    border-bottom: 1px dotted #c6c6c6;
}
.list-content a{
    font-size: 15px;
    color:#4e4e4e;
    text-decoration: none;
}
.menu-list-search{
    border: 1px solid #079f4f;
    border-radius: 5px;
    position: relative;
    padding: 5px;
     margin-top:25px;
    margin-bottom: 15px; 
    margin-left: 5px;
    margin-right: 5px;
    /* margin: 20px 20px; */
}
.menu-list-search .search-header-icon{
    color:#079f4f;
    font-size:25px;
    margin-top:10px;
    margin-left:20px;
    margin-bottom: 10px;
}
.menu-list-search i{
    margin-right: 10px;
}
.menu-list-search #key-search{
    margin-bottom: 10px;
    border: 1px #079f4f solid;
    
}
.menu-list-search #btnSub{
    background-color: #079f4f;
    border: 1px white solid;
    float: right;
    margin: 10px;
}
.acess-statics .list-header-title .txtHeader{
    width: 100%;
    
}
.product-list{
    border-left: 1px solid #d7d7d7;
    /* padding:10px; */
}
.list-header-title{
    display: flex;
}

.list-header-title .txtHeader p{
    
        /* display: flex; */
        font-size: 18px;
        font-weight: 500;
        padding:0 10px;
        line-height: 34px;
        height: 34px;
        /* margin-top:5px; */
        color: white;
        /* width: 100%; */
    
}
.detail-list-header .txtHeader{
    
    background: #079f4f;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 34px;
}
.acess-statics{
    margin-bottom: 10px;
}
.update-br{
    background-color: #222 !important;
}